
@import "greeting.css";
@import "registration.css";
@import "game-window.css";
@import "spell-section.css";
@import "task-window.css";
@import "spell-task.css";
@import "round-end.css";
@import "scores.css";
@import "game-over.css";

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.ttf');
    font-weight:400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
    font-weight:400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight:700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf');
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background: #dde0df ;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    height:100%;
}

h1{
    color: black;
}

h2 {
    color: darkred;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
    margin-bottom: 15px;
}

ul{
    margin-top:10px;
    list-style-position: inside;
}

button {
    background: black;
    color: white;
    font-family: Lato,sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
    user-select: none;
    width: 100px;
    height: 54px;
}

.simple-content{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.whole-game{
    height: 100%;
    width: 100%;
}

.hidden{
    visibility:hidden;
}

.not-displayed{
    display: none;
}

.block-display{
    display: block;
}

.container-for-buttons{
    width: 220px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

