#letters {
    list-style-type: none;
}

li.letter {
    float: left;
}

.letter {
    width: 40px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: move;
}

.letter header {
    height: 20px;
    width: 30px;
    color: black;
    background-color: #ccc;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    border: 2px solid #666666;
}

.letter.dragElem {
    opacity: 0.4;
}
.letter.over {
    border-left: 2px solid red;

}

.container-for-letters{
    width: 300px;
    height: 200px;
    border: 1px solid red;
}
